{% extends "base.html" %}
{% block body %}
<h1>Create a group.</h1>   
<form action="/create" method="post">
<input class="form-control"id="g"placeholder="Group Name..." type="text" name="group"/><br/><br/>
<input class="form-control"id="e"placeholder="Moderator's Email..." type="text" name="email"/><br/><br/>
<input class="form-control"id="ps"placeholder="Group Password..."type="password" name="password"/><br/><br/><input onclick="save()"class="btn btn-primary btn-block"type="submit" value="Create"><br/><br/>        
</form>
{% endblock %}   
