{% extends "base.html" %}
{% block body %}
<script>
function generate(){
var spl = '%20#&!#aeflmhtyorgs94432n$2378vrwtqe8cnwefydsufayfsdfuoas';
var d1 = document.getElementById("nm").value;
var d2 = document.getElementById("g").value;
var d3 = document.getElementById("ps").value;
document.getElementById("result").value = 'http://162.243.6.91:5000/from-url#' + spl + d1 + spl + d2 + spl + d3;
}
</script>
<input id="nm" class="form-control"placeholder="Name..."type="text" name="name"/><br/><br/>
<input class="form-control"id="g"placeholder="Group..." type="text" name="group"/><br/><br/>
<input class="form-control"id="ps"placeholder="Password..."type="password" name="password"/><br/><br/>
<button class="btn btn-primary btn-block" onclick="generate()">Generate URL</button><br/><br/>
<input class="form-control" id="result" type="text"/>
{% endblock %}
